<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:replace="~{common :: head}"></div>
        <title>Login</title>
    </head>

    <body class="text-center">
        <form class="form-signin" action="/perform_login" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input class="form-control" name="username" placeholder="username" id="inputUserName"/>
            <label for="inputPassword" class="sr-only">Password</label>
            <input class="form-control" name="password" placeholder="input password" type="password" id="inputPassword"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

        <a href="/registration">Sign Up</a>
        <a href="/">Home</a>


    </body>
    </html>