<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profile</title>
    <div th:replace="~{common :: head}"></div>

</head>

<body>
<header>
    <div th:replace="~{common :: navigation(${user})}"></div>
</header>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 th:text="${user.username}"></h1>
            <div><img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Conan_O%27Brien_at_U.S._Embassy_Helsinki.jpg" alt="profile picture"/></div>
        </div>
        <div class="col">
            <form class="mx-auto my-auto"action="/post" method="POST" th:if="${user.id == loggedInUser.id}">
                <label>Post Something
                    <textarea name="body"></textarea>
                </label>
                <button type="submit"> Submit</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h3>Posts</h3>
            <ul>
                <li th:each="post : ${posts}">
                    <p th:text="${post.createdAt}"></p>
                    <p th:text="${post.body}"></p>
                </li>
            </ul>
        </div>
    </div>





</div>


</body>
</html>
